@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Carter+One&family=Cherry+Swash:wght@400;700&family=Dancing+Script:wght@400;500;600;700&family=Dongle:wght@300;400;700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&family=Fjalla+One&family=Fredoka+One&family=JetBrains+Mono:ital,wght@0,300;0,400;0,500;0,600;0,800;1,200;1,300;1,400;1,500;1,700;1,800&family=Lexend+Deca:wght@300;400;500;600;700;800;900&family=Lobster&family=Montserrat+Alternates:ital,wght@0,100;0,600;0,700;0,900;1,100;1,600;1,800;1,900&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Pacifico&family=Permanent+Marker&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,700;1,900&family=Supermercado+One&display=swap');
*,*::after,*::before {
	box-sizing: border-box;
}
:root{
	--ff--primary: 'Source Sans Pro', sans-serif;
	/* --ff--secondary: 'Source Sans Pro', monospace; */
	--ff--secondary: 'JetBrains Mono', monospace;
	
	--fw-regular: 300;
	--fw-bold: 900;
    
	--clr-light: #fff;
	--clr-dark: #303030;
	--clr-accent: #16e0bd;

	--fs-h1: 3rem;
	--fs-h2: 2.25rem;
	--fs-h3: 1.25rem;
	--fs-body: 1rem;
    
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25)
       	  0.125em 0.125em 0.25em rgba(0,0,0,.15); 
}

@media (min-width: 800px) {
	:root{
		--fs-h1: 4.5rem;
		--fs-h2: 3.75rem;
		--fs-h3: 1.5rem;
		--fs-body: 1.125rem;
	}
}



html {
    scroll-behavior: smooth;
}

body{
	background-color: var(--clr-light);
	color: var(--clr-dark);
	margin: 0;
	font-family: var(--ff--primary);
	font-size: var(--fs-body);
	line-height: 1.6;
}
section{
	padding: 5em 2em;
}

img{
	display: block;
	max-width: 100%;
}



h1,h2,h3{
	line-height: 1;
	margin: 0;
}
strong{
	font-weight: var(--fw-bold);
}
/* :focus{
	outline: 3px solid var(--clr-accent);
	outline-offset: 2px;
} */

/* buttons */

.btn {
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}


h1{
	font-size: var(--fs-h1);
}

h2{
	font-size: var(--fs-h2);
}

h3{
	font-size: var(--fs-h3);
}

.sec-title{
  margin-bottom: .25em;
}
.sec--subtitle--intro{
	font-weight: var(--fw-regular);
}
.sec--subtitle--intro strong{
	display: block;
}
.sec--subtitle{
   margin: 0;
   font-size: var(--fs-h3);	
}

.sec--subtitle--intro, .sec--subtitle--about{
 background: var(--clr-accent);
 padding: .25em 1em;
 font-family: var(--ff--secondary);
 margin-bottom: 1em;
}
/* nav  */
header{
	display: flex;
	justify-content: space-between;
	padding: 1em;
}
.logo{
	max-width: 80px;
}
.logo--img{
	cursor: pointer;
}
.logo--img:hover{
	opacity: 0.7;
}
.nav{
	position: fixed;
	background: hsla(0, 0%, 0%, 0.9);
	color: var(--clr-light);
	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav--list{
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}
.nav--link{
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
}
.nav--link:hover{
	color: var(--clr-accent);
	text-decoration: underline;
}
.nav-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}
.nav-open .nav{
	transform: translateX(0);
}
.nav-open .nav-toggle{
	position: fixed;
}
.nav-open .hamburger {
    transform: rotate(.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
    opacity: 0;
}










.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-accent);
    width: 2em;
    height: 3px;
    border-radius: 1em;    
	transition: transform 250ms ease-in-out;
}


.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
  
}

.hamburger::before{
	top: 6px;
}
.hamburger::after{
	top: 6px;
}



/* intro section  */

.intro{
 position: relative;
}
.intro-img{
	box-shadow: var(--bs);
}

.sec--subtitle--intro{
	display: inline-block;
}
@media (min-width: 600px) {
	.intro{
		display: grid;
		width: min-content;
		margin: 0 auto;
		grid-column-gap: 1em;
		grid-template-areas: 
		"img title"
		'img subtitle';
		grid-template-columns: min-content max-content;
	}
	.intro-img{
		grid-area: img;
		min-width: 250px;
		position: relative;
		z-index: 2;
	}
	.sec--subtitle--intro{
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
		position: relative;
		left: -1.5em;
		width: calc(100% + 1.5em);
	}
}



/* my services  */

.my-services{
	background-color: var(--clr-dark);
    background-image: url(bg-2.png);
    background-size: cover;
    background-blend-mode: multiply;
    color: var(--clr-light);
	text-align: center;
	max-width: 100%;
}
.sec--title--services{
	color: var(--clr-accent);
    position: relative;
}
.sec--title--services::after{
	content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.25;
}
.services{
	margin-bottom: 4em;
}
.service{
	max-width: 500px;
	margin: 0 auto;
}

@media (min-width: 800px) {
	.services{
        display: flex;
        max-width: 1000px;
		margin-left: auto;
        margin-right: auto;
	}
	.service + .service{
        margin-left: 2em; 
	}
}

/* about me  */

.about-me{
	max-width: 1000px;
    margin: 0 auto;
}
.about-me-img{
	box-shadow: var(--bs);
}
@media (min-width: 600px) {
	.about-me{
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: 
            "title img"
            "subtitle img"
            "text img";
        grid-column-gap: 2em;
	}
	.sec--title--about{
		grid-area: title;
	}
	.sec--subtitle--about{
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);
	}
	.about-me-img{
		grid-area: img;
		position: relative;
		z-index: 2;
	}
}




/* my work  */

.my-work{
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center; 
}
.sec--subtitle--work{
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}
.portfolio{
	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
@media (min-width: 800px) {
	.portfolio{
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	}
	.portfolio--item{
		margin-bottom: 2em;
		overflow: hidden ;
	}
}
.portfolio--item{
	margin-bottom: 3em;
	overflow: hidden ;
}
.portfolio--img{
    transition: 
        transform 750ms cubic-bezier(.5, 0, .5, 1),
        opacity 250ms linear;
}
.portfolio--img:hover{
    transform: scale(1.2);
    opacity: .5;
}



/* footer  */



.footer {
    background: #111;
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
	font-size: var(--fs-h3);
}

.footer a {
	 color: inherit ;
	 text-decoration: none;
	}
.footer--link{
    font-weight: var(--fw-bold);
}

.footer--link:hover,
.social-list-link:hover{
    opacity: .7;
}
.footer--link:hover{
	text-decoration: underline;
}
.social--list{
    list-style: none;
    display: flex;
    justify-content: center;
	margin: 2em 0 0;
    padding: 0;
}

.social-list-item{
    margin: 0 .5em;
}
.social-list-link{
	padding: .5em;
}



